<div class="video-feed">
<h1 class="recent-videos-title">{{ channel.username }}'s Videos</h1>
<ul>
{{#each channel.videos}}
  <li class="recent-video-item">
    <a href="/watch/{{this.id}}">
    <img class="recent-video-thumbnail" 
           src="/thumbnails/{{this.id}}.jpg"
           alt="{{this.title}} thumbnail"/>
    </a>
    <a class="recent-video-title" href="/watch/{{this.id}}">{{this.title}}</a>
    uploaded on {{this.uploadDate}}</a></span>
  </li>
{{/each}}
</ul>
</div>
