<div class="video-feed">
  <h1 class="recent-videos-title">Recent Videos</h1>
  <ul>
  {{#each videos}}
    <li class="recent-video-item">
      <a href="/watch/{{this.id}}">
      <img class="recent-video-thumbnail" 
             src="/thumbnails/{{this.id}}.jpg"
             alt="{{this.title}} thumbnail"/>
      </a>
      <a class="recent-video-title" href="/watch/{{this.id}}">{{this.title}}</a>
      <span>By <a href="/channel/{{this.uploader}}">{{this.username}}</a>
      <!-- uploaded on {{this.uploadDate}}</a></span>-->
    </li>
  {{/each}}
  </ul>
</div>
