<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/reset.css'></link>
  <link rel='stylesheet' href='/site.css'></link>
  <title>TurkeyTube - {{title}}</title>
</head>
<body>
  <header class="header">
    <div class="header-left">
      <h1 class="site-title"><a href='/'>🦃🥃 TurkeyTube</a></h1>
    </div>
    <div class="search">
      <form action="/search" method="get">
        <input class="search-input" type="text" name="query" placeholder="Search TurkeyTube"></input>
        <input class="search-button" type="submit" value="🦃"></input>
      </form>
    </div>
    <div class="user">
      {{#if user }}
      <span class="user-link">Logged in as <a href="/channel/{{user.id}}">{{ user.username }}</a></span>
        <a href="/upload">upload</a>
        <a href="/signout">sign out</a>
      {{else}}
        <a href="/signup">sign up</a>
        <a href="/signin">sign in</a>
      {{/if}}
    </div>
  </header>
  <span class="whisky-quote">“{{ whiskyQuote }}”</span>
  <main class="main">
  {{ messages.error }}
  {{ messages.info }}
  {{{body}}}
  </main>
</body>
</html>
