<div class="video-feed">
<ul>
{{#each videos}}
  <li class="recent-video-item">
    <img class="recent-video-thumbnail" 
           src="/thumbnails/{{this.id}}.jpg"
           alt="{{this.title}} thumbnail"/>
    <a class="recent-video-title" href="/watch/{{this.id}}">{{this.title}}</a>
    <span>By <a href="/channel/{{this.uploader}}">{{this.username}}</a>
    uploaded on {{this.uploadDate}}</a></span>
  </li>
{{/each}}
</ul>
</div>
