<form class="form" action="/signin" method="POST">
  <label for="email">email</label>
  <input type="text" name="email"></input>
  <label for="password">password</label>
  <input type="password" name="password"></input>
  <input type="submit"></input>
</form>
