<form class="form" action="/signup" method="POST">
  <label for="username">username</label>
  <input type="text" name="username"></input>
  <label for="email">email</label>
  <input type="text" name="email"></input>
  <label for="password">password</label>
  <input type="password" name="password"></input>
  <label for="confirmPassword">confirm password</label>
  <input type="password" name="confirmPassword"></input>
  <input class="submit" type="submit"></input>
</form>
