<form class="form" action="/upload" method="POST" enctype="multipart/form-data">
  <label for="title">title</label>
  <input type="text" name="title"></input>

  <input type="file" name="video"></input>

  <input class="submit" type="submit"></input>
</form>
