<div class="watch-video">
  <video class="player" controls>
    <source src="{{videoUrl}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<div class="below-video">
  <div class="watch-info">
    <h1 class="watch-title">{{ videoTitle }}</h1>
    <p>uploaded by <a href="/channel/{{uploader}}">{{ uploaderUsername }}</a> on {{ uploadDate }}</p>
  </div>
  <div class="comments">
    <h1 class="related-title">Comments</h1>
    <form class="comment-form" method="post" action="/comment/{{videoId}}">
      <textarea rows=5 name="comment" class="comment-field"></textarea>
      <input type="submit"></input>
    </form>
    <ul>
      {{#each comments}}
        <li class="comment">
        <p><span class="comment-username">{{this.username}}</span> posted:</p>
        <p class="comment-text">{{this.text}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="related-videos">
    <h1 class="related-title">Related Videos</h1>
    <ul class="related-list">
    {{#each related}}
      <li class="related-video-item">
        <a href="/watch/{{this.id}}">
        <img class="related-video-thumbnail"
               src="/thumbnails/{{this.id}}.jpg"
               alt="{{this.title}} thumbnail"/>
        </a>
        <span>{{this.title}}</span></li>
        <!-- p>By <a href="/channel/{{this.uploader}}">{{this.username}}</a> on {{this.uploadDate}}</a></p></li -->
      </li>
    {{/each}}
    </ul>
  </div>
</div>
