p, header {
  margin-bottom: 1em;
}

html {
  color: #c56c24;
  background: #1f2226;
  line-height: 1.4;

  font-family: Roboto;
}

main {
  margin: 1rem auto;
}

a {
  color: #c56c24;
}

.header {
  margin: 1em;
  width: calc(100% - 2em);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  position: relative;
  top: 0.29em;
}

.site-title a {
  width: 100%;
  font-size: 1.4em;
  text-decoration: none;
  line-height: 100%;
}

.whisky-quote {
  background: #2d3238;
  display: block;
  width: calc(100% - 2em);
  font-size: 0.9em;
  margin: 0 auto;
  text-align: center;

  border-color: #c56c24;
  border-style: solid;
  border-width: 1px 0 1px 0;
  padding: 1em;
}

.user {
  text-align: right;
}

.user-link {
  display: block;
  line-height: 1.4;
}

.search {
  display: block;
  max-width: 35em;
  flex-grow: 1;
  text-align: center;
}

.search-input {
  display: inline-block;
  width: calc(100% - 2.5em - 1.0em - 2px);
  float: left;
  margin: 0;
  padding: 0.5em;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background: black !important;
  color: #d29062;
}

.search-button {
  float: right;
  display: inline-block;
  height: calc(2.5em - 3px);
  width: calc(2.5em);

  background: #2d3238;

  margin: 0;
  padding: 0.5em;
  border-width: 0;
  color: white;

  border-color: black;
  border-width: 1px 1px 1px;
  border-style: solid;
}

.watch-video {
  display: block;
  background: black;
  margin-bottom: 1em;
  max-width: 100%;

}

.player {
  border-style: none !important;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-height: 70vh;
}

.below-video {
  max-width: 75em;
  margin: 0 auto;
}

.watch-info {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #c56c24;
  margin-bottom: 1rem;
}

.watch-title {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.related-videos {
  width: 25%;
  float: right;
}

.related-video-item::after {
  display: table;
  content: '';
  clear: both;
}

.related-title {
  font-size: 1.4em;
  margin-bottom: 1rem;
}

.related-video-item {
  display: block;
  padding-bottom: 1em;
}

.related-video-thumbnail {
  width: 100%;
  margin-bottom: 0.5em;
}

.recent-video-thumbnail {
  width: 100%;
}

.recent-video-item {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  margin-bottom: 1em;
  width: calc((100% - 4em)/5);
  display: inline-block;
  float: left;
}
.recent-video-item:nth-child(5n+0) {
  margin-right: 0;
}
.recent-video-item:nth-child(6n+0) {
  clear: left;
}

.recent-video-item::after {
  display: table;
  content: "";
  clear: both;
}

.recent-video-title {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.recent-videos-title {
  margin-bottom: 1rem;
  font-size: 1.4em;
}

.form {
  width: 30em;
  display: block;
  margin: 0 auto;
}

.form input[type="text"], .form input[type="password"] {
  width: 100%;
  margin-bottom: 1em;
  background-color: black;
  color: #c56c24;
  border-style: none;
  padding: 0.5em;
}

textarea {
  border-color: #c56c24 !important;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
}

.form input.submit {
  width: 7em;
  margin: 0 auto;
  display: block;
}

.comments {
  float: left;
  width: calc(75% - 2em)
}

.comment-form {
  margin-bottom: 1em;
}

.comment-field {
  width: 100%;
  margin-bottom: 1em;
  height: 5em;

  background: black !important;
  color: #d29062;
}

.comment-username {
  font-weight: bold;
}

.comment {
  margin-bottom: 1em;

  border-color: #c56c24;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding-top: 1rem;
}

.video-feed {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
